.addSampleTab {
    -fx-background-color: #dddddd;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.labelParams {
    word-break: break-all;
}

.table-column {
    -fx-alignment: CENTER;
}

.scroll-pane {
    -fx-unit-increment: 10;
    -fx-block-increment: 50;
}

/* ====== LINE CHART =========================================================== */
.chart {
    -fx-create-symbols: false;
}

.chart-line-symbol {
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.chart-series-line {
    -fx-stroke-width: 2px;
}

#fireModeStandardTemperatureLine {
    -fx-stroke: rgba(128, 128, 128, 0.7);
    -fx-stroke-width: 1px;
    -fx-stroke-dash-array: 2 12 12 2;
}

#heatFlowSensorsLine {
    -fx-stroke-width: 1px;
}

#heatFlowMeanFlowLine {
    -fx-stroke-width: 4px;
    -fx-stroke:red;
}

#firstThermocoupleGroupMeanTemperatureLine{
    -fx-stroke-width: 4px;
    -fx-stroke:red;
}

#firstThermocoupleGroupThermocoupleTemperatureLine{
    -fx-stroke-width: 1px;
}

#secondThermocoupleGroupMeanTemperatureLine{
    -fx-stroke-width: 4px;
    -fx-stroke:red;
}

#secondThermocoupleGroupThermocoupleTemperatureLine{
    -fx-stroke-width: 1px;
}

#thirdThermocoupleGroupMeanTemperatureLine{
    -fx-stroke-width: 4px;
    -fx-stroke:red;
}

#thirdThermocoupleGroupThermocoupleTemperatureLine{
    -fx-stroke-width: 1px;
}

